/* -----------------------Google Fonts import */
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');


/*----------------------Colours */
.bg-row-name-title {
  background-color: #676767;
}

.bg-color-three-reasons {
  background-color: #ffffff;
}

.ui-menu-color-home {
  background-color: #E70000;
}

.ui-menu-color-resume {
  background-color: #FF8c00;
}

.ui-menu-color-contact {
  background-color: rgba(255, 238, 0, 0.897);
}

.ui-menu-color-download {
  background-color: #00811F;
}

.bg-color-personal-info {
  background-color: #f4f4f4;
}

/* -----------------------Special padding, margins, text */
h1,
h2,
h3,
h4 {
  margin: 0
}

.uppercase {
  text-transform: uppercase;
}

.general-sub {
  font-family: "Exo", sans-serif;
  color: #fafafa;
}

.inline-block {
  display: inline-block;
}

.row-table {
  display: table;
}

.section-column {
  display: table-cell;
  padding: 0 30px 30px;
  float: none;
}

.section-heading {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 40px;
}

/* -----------------------Heading */
header {
  margin: 0;
}

.heading {
  margin-left: 50px;
}

.logo {
  background: url("../images/rosie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.name {
  font-family: "Exo", sans-serif;
  font-weight: 100;
  font-size: 46px;
  margin-top: 50px;
  color: #ffffff;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 90px;
  color: #ffffff;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

.menu-container {
  font-size: 0;
}

#nav {
  margin: 0;
}

#nav li {
  font-size: 14px;
  padding: 0;
}

.menu-item {
  height: 120px;
  padding: 0;
  text-align: center;
}

.menu-item a {
  text-decoration: none;
  width: 100%;
  height: 120px;
  color: #ffffff;
}

.menu-item a .fa-i {
  padding-top: 22px;
  display: block;
  font-size: 26px;
  color: #fafafa
}

.menu-item a span {
  display: block;
  width: 100%;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}


/* -----------------------Hover.css */

.hvr-sweep-to-bottom:before {
  background: rgba(0, 0, 0, 0.2);
  height: 120px;
}

/* -----------------------Sections */

/* -----------------------section: Three reasons */
.three-reasons-icon {
  font-size: 26px;
  color: #E70000;
}

.three-reasons-heading {
  margin-bottom: 15px;
}

/* -----------------------Section: Personal Info */

.personal-info-item {
  margin-bottom: 20px;
  display: block;
  clear: both;
  /* Clear:
  Makes it so that when using floats, there will not appear anything on either side of that element. */
}

.personal-info-item .key,
.personal-info-item .value {
  padding-right: 8px;
  display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
  margin: 0;
}

.personal-info-item .key {
  width: 30%;
  margin-right: 21px;
  padding-top: 2px;
  vertical-align: top;
}

.personal-info-item .value {
  position: relative;
  width: 60%;
}

.personal-info-item .key p {
  font-weight: 700;
}

/* -----------------------Footer */
#footerdetails {
  padding: 20px;
}

footer {
  background-color: #676767;
  min-height: 120px;
  font-weight: 300;
  color: #fafafa;
}

.cv-pdf span.fa-i {
  font-size: 18px;
  color: #fafafa;
  text-align: center;
  padding-left: 5px;

  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.cv-pdf span.fa-i:hover {
  color: #e84610;
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a span.fa-i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  line-height: 7px;
  color: #fafafa;
  background: #8f8f8f;
  text-align: center;

  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a span.fa-i:hover {
  background: #e84610;
}